<!-- Estas son las aplicaciones de Block -->
{% extends "base/base.html" %} {% load staticfiles %} {% block titulo %} Abastecimiento {% endblock %} {% block contenido %}
<div class="content">
    <div class="">
        <div class="page-header-title">
            <h4 class="page-title">ABASTECIMIENTO</h4>
        </div>
    </div>
    <div class="page-content-wrapper ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h4 class="m-b-30 m-t-0">Abastecimiento de Productos</h4>
                            <h1>Crear Nuevo Abastecimiento<small></small></h1>
                            <div class="panel-body">
                                <h4 class="m-t-0 m-b-30"></h4>
                                <form class="form-horizontal" role="form" action="." method="POST">
                                    {% csrf_token %} {% for field in form %}
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"> {{ field.name }} :</label>
                                        <div class="col-md-5">
                                            {{ field }}
                                            <span class="label label-contrast">{{ field.errors.as_text }}</span>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <div class="col-xs-3 col-sm-9 m-b-30" align="right">
                                        <button class="btn btn-default waves-effect waves-light">Guardar</button>
                                    </div>
                                    <!-- Aqui el middleware de los mensajes aparece-->
                                    <div class="col-md-12">
                                        <ul class="messagelist">
                                            {% for message in messages %}
                                            <li class="success">{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h4 class="m-b-30 m-t-0">Registro de Abastecimientos</h4>
                        <div id="datatable-buttons_filter" class="dataTables_filter">
                        </div>
                        <div id="datatable-buttons_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <table id="datatable-buttons" class="table table-striped table-bordered dataTable no-footer dtr-inline collapsed" role="grid" aria-describedby="datatable-buttons_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 30px; text-align:center;">N°</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 100px; text-align:center;">Solicitante</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 150px; text-align:center;">Producto</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 230px; text-align:center;">Categoría</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 50px; text-align:center;">Cantidad</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 120px; text-align:center;">Fecha</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dato in abastecimientos %}
                                    <tr role="row" class="odd">
                                        <td class="sorting_1" tabindex="0" align="center">{{forloop.counter}}</td>
                                        <td align="center">{{dato.solicitante}}</td>
                                        <td align="center">{{dato.producto}}</td>
                                        <td align="center">{{dato.categoria}}</td>
                                        <td align="center">{{dato.cantidad}}</td>
                                        <td align="center">{{dato.fecha}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %} {% block jquery %}
<script type="text/javascript" charset="utf-8">
$(function() {
    $("#id_categoria").on('change', function() {
        $.getJSON("{% url 'ws-productos' %}", {
            id_categoria: $("select#id_categoria").val(),
        }, function(data) {
            console.log(data.length);
            var options = '';
            options += '<option selected value>SELECCIONE PRODUCTO...</option>';
            for (var x = 0; x < data.length; x++) {

                options += '<option value="' + data[x]['id'] + '">' + data[x]['value'] + '</option>';


            }
            $('#id_producto').html(options);
        })
    })
})
</script>
{% endblock %}
