<!-- Estas son las aplicaciones de Block -->
{% extends "base/base.html" %} {% load staticfiles %} {% block titulo %} Directorio {% endblock %} {% block contenido %}
<div class="content">
    <form class="form">
    </form>
    <div class="">
        <div class="page-header-title">
            <h1 class="page-title">Directorio</h1></div>
    </div>
    <div class="page-content-wrapper ">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel">
                        <div class="panel-body user-card">
                            <div class="media-main"> <a class="pull-left" href="#"> <img class="thumb-lg img-circle" src="{% static 'assets/images/users/Ángela Urdanivia.jpg' %}" alt=""> </a>
                                <div class="info">
                                    <h4>Ángela Urdanivia V.</h4>
                                    <p class="text-muted">Directora</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <p class="text-muted info-text" align="center"> De profesión Educadora de Párvulos, con muchos años de servicio en el Departamento de Educación y Junaeb en la Región del Maule, la Sra. Urdanivia es la encargada de la Dirección del Establecimiento.</p>
                            <hr>
                            <ul class="social-links list-inline m-b-0">
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="1234567890"><i class="fa fa-phone"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="@skypename"><i class="fa fa-skype"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="email@email.com"><i class="fa fa-envelope-o"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel">
                        <div class="panel-body user-card">
                            <div class="media-main"> <a class="pull-left" href="#"> <img class="thumb-lg img-circle" src="{% static 'assets/images/users/Carol Sepúlveda.jpg' %}" alt=""> </a>
                                <div class="info">
                                    <h4>Carol Sepúlveda A.</h4>
                                    <p class="text-muted">Jefa UTP</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <p class="text-muted info-text" align="center"> Jefa de la Unidad Técnico Pedagógica, la Srta. Sepúlveda de Profesión Educadora Diferencial, es la encargada de los Trámites académico del Establecimiento, además de ser la Jefa del Equipo PIE (Programa Integración Escolar).</p>
                            <hr>
                            <ul class="social-links list-inline m-b-0">
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="1234567890"><i class="fa fa-phone"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="@skypename"><i class="fa fa-skype"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="email@email.com"><i class="fa fa-envelope-o"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel">
                        <div class="panel-body user-card">
                            <div class="media-main"> <a class="pull-left" href="#"> <img class="thumb-lg img-circle" src="{% static 'assets/images/users/Sebastián Donoso.jpg' %}" alt=""> </a>
                                <div class="info">
                                    <h4>Sebastián Donoso N.</h4>
                                    <p class="text-muted">Informático</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <p class="text-muted info-text" align="center"> Técnico en Análisis de Sistemas y Estudiante de Ingeniería en la Universidad Católica del Maule, el Sr. Donoso es el encargado de Redes y Telecomunicaciones del Establecimiento. Con un completo soporte en el área Informática.</p>
                            <hr>
                            <ul class="social-links list-inline m-b-0">
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://www.facebook.com/seba2208" data-original-title="Seba Donoso"><i class="fa fa-facebook"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://twitter.com/sebakaka22" data-original-title="sebakaka22"><i class="fa fa-twitter"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="+56947143801"><i class="fa fa-phone"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="@cba_2208"><i class="fa fa-skype"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="seba_donoso2208@hotmail.com"><i class="fa fa-envelope-o"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel">
                        <div class="panel-body user-card">
                            <div class="media-main"> <a class="pull-left" href="#"> <img class="thumb-lg img-circle" src="{% static 'assets/images/users/Javiera León.jpg' %}" alt=""> </a>
                                <div class="info">
                                    <h4>Javiera León A.</h4>
                                    <p class="text-muted">Educadora de Párvulos</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <p class="text-muted info-text" align="center"> Educadora encargada del curso Kinder A, junto a su equipo de Trabajo: La Sra. Adriana Torres y la Sra. Yesica Gómez. Curso de 45 Niños.</p>
                            <hr>
                            <ul class="social-links list-inline m-b-0">
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="1234567890"><i class="fa fa-phone"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="@skypename"><i class="fa fa-skype"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="email@email.com"><i class="fa fa-envelope-o"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel">
                        <div class="panel-body user-card">
                            <div class="media-main"> <a class="pull-left" href="#"> <img class="thumb-lg img-circle" src="{% static 'assets/images/users/Yarela Morán.jpg' %}" alt=""> </a>
                                <div class="info">
                                    <h4>Yarela Morán A.</h4>
                                    <p class="text-muted">Educadora de Párvulos</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <p class="text-muted info-text" align="center"> Educadora encargada del curso Kinder B, junto a su equipo de Trabajo: La Sra. Natalia Valdés y la Srta. Dayana Marabolí. Curso de 44 Niños.</p>
                            <hr>
                            <ul class="social-links list-inline m-b-0">
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="1234567890"><i class="fa fa-phone"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="@skypename"><i class="fa fa-skype"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="email@email.com"><i class="fa fa-envelope-o"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel">
                        <div class="panel-body user-card">
                            <div class="media-main"> <a class="pull-left" href="#"> <img class="thumb-lg img-circle" src="{% static 'assets/images/users/Karen Bravo.jpg' %}" alt=""> </a>
                                <div class="info">
                                    <h4>Karen Bravo M.</h4>
                                    <p class="text-muted">Educadora de Párvulos</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <p class="text-muted info-text" align="center"> Educadora encargada del curso Kinder C, junto a su equipo de Trabajo: La Sra. Giovanna Muñoz y la Srta. Yocelyn Bobadilla. Curso de 45 Niños.</p>
                            <hr>
                            <ul class="social-links list-inline m-b-0">
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="1234567890"><i class="fa fa-phone"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="@skypename"><i class="fa fa-skype"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="email@email.com"><i class="fa fa-envelope-o"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel">
                        <div class="panel-body user-card">
                            <div class="media-main"> <a class="pull-left" href="#"> <img class="thumb-lg img-circle" src="{% static 'assets/images/users/Margarita Tello.jpg' %}" alt=""> </a>
                                <div class="info">
                                    <h4>Margarita Tello T.</h4>
                                    <p class="text-muted">Educadora de Párvulos</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <p class="text-muted info-text"> Educadora encargada del curso Pre Kinder A, junto a su equipo de Trabajo: La Sra. Carmen Gloria Castillo y la Srta. Anlleine Ortega. Curso de 35 Niños.</p>
                            <hr>
                            <ul class="social-links list-inline m-b-0">
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="1234567890"><i class="fa fa-phone"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="@skypename"><i class="fa fa-skype"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="email@email.com"><i class="fa fa-envelope-o"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel">
                        <div class="panel-body user-card">
                            <div class="media-main"> <a class="pull-left" href="#"> <img class="thumb-lg img-circle" src="{% static 'assets/images/users/Karen Cartes.jpg' %}" alt=""> </a>
                                <div class="info">
                                    <h4>Karen Cartes Y.</h4>
                                    <p class="text-muted">Educadora de Párvulos</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <p class="text-muted info-text"> Educadora encargada del curso Pre Kinder B, junto a su equipo de Trabajo: La Srta. Aida Hernández y la Srta. Estefany González. Curso de 34 Niños.</p>
                            <hr>
                            <ul class="social-links list-inline m-b-0">
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="1234567890"><i class="fa fa-phone"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="@skypename"><i class="fa fa-skype"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="email@email.com"><i class="fa fa-envelope-o"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel">
                        <div class="panel-body user-card">
                            <div class="media-main"> <a class="pull-left" href="#"> <img class="thumb-lg img-circle" src="{% static 'assets/images/users/Denis Muñoz.jpg' %}" alt=""> </a>
                                <div class="info">
                                    <h4>Denis Muñoz G.</h4>
                                    <p class="text-muted">Educadora de Párvulos</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <p class="text-muted info-text"> Educadora encargada del curso Pre Kinder C, junto a su equipo de Trabajo: La Sra. Elsa Henríquez y la Srta. Lidian Faúndez. Curso de 35 Niños.</p>
                            <hr>
                            <ul class="social-links list-inline m-b-0">
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="1234567890"><i class="fa fa-phone"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="@skypename"><i class="fa fa-skype"></i></a></li>
                                <li> <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="email@email.com"><i class="fa fa-envelope-o"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- esto es todo el modelamiento que uno nunca quiere hacer y le pagas a un disñador jajaja  es la cumbia de facil -->
</div>
</div>
{% endblock %}