<!-- Estas son las aplicaciones de Block -->
{% extends "base/base.html" %} {% load staticfiles %} {% block titulo %} Home {% endblock %} {% block contenido %}
<div class="content">
    <h1> Escuela de Párvulos <small> San Clemente </small></h1>
    <form class="form">
    </form>
    <!-- el div con la clase ROW es esto -->
    <div class="row">
        <!-- luego vienen estos de 6 -->
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <section>
                        <div class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="{% static 'assets/images/img1.jpg' %}" />
                                </li>
                                <li>
                                    <img src="{% static 'assets/images/img2.jpg' %}" />
                                </li>
                                <li>
                                    <img src="{% static 'assets/images/img3.jpg' %}" />
                                </li>
                                <li>
                                    <img src="{% static 'assets/images/img4.jpg' %}" />
                                </li>
                                <li>
                                    <img src="{% static 'assets/images/img5.jpg'  %}" />
                                </li>
                                <li>
                                    <img src="{% static 'assets/images/img6.jpg'  %}" />
                                </li>
                            </ul>
                        </div>
                    </section>
                    <script src="{% static 'assets/js/jquery.min.js' %}"></script></script>
                    <script>
                    $(window).load(function() {
                        $('.flexslider').flexslider({
                            animation: "slide",
                        });
                    });
                    </script>
                    <script>
                    $(window).load(function() {
                        $('.flexslider').flexslider({
                            animation: "slide",
                        });
                    });
                    </script>
                </div>
            </div>
        </div>
        <!-- esto es todo el modelamiento que uno nunca quiere hacer y le pagas a un disñador jajaja  es la cumbia de facil -->
    </div>
</div>
{% endblock %}
