<!-- Estas son las aplicaciones de Block -->
{% extends "base/base.html" %}
{% load staticfiles %}
{% block titulo %} Home {% endblock %}

{% block contenido %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <h4 class="m-b-30 m-t-0">Bordered Table</h4>
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Categoria</th>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dato in productos %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{dato.categoria}}</td>
                                        <td>{{dato.nombre}}</td>
                                        <td>{{dato.cantidad}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}
