<!-- Estas son las aplicaciones de Block -->
{% extends "base/base.html" %}
{% load staticfiles %}
{% block titulo %} Usuarios {% endblock %}

{% block contenido %}
<div class="content">
    <div class="">
        <div class="page-header-title">
            <h4 class="page-title">USUARIOS</h4>
        </div>
    </div>
    <div class="page-content-wrapper ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h4 class="m-b-30 m-t-0">Creación de Usuarios</h4>
                            <h1>Crear Nuevo Usuario<small></small></h1>
                            <div class="panel-body">
                                <h4 class="m-t-0 m-b-30"></h4>
                                <form class="form-horizontal" role="form" action="." method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nombre Usuario :</label>
                                        <div class="col-md-5">
                                            {{form.username}}
                                        </div>
                                        <div class="col-md-2"></div>
                                        <BR><BR><BR>
                                        <label class="col-md-4 control-label">Clave :</label>
                                        <div class="col-md-5">
                                            {{form.password}}
                                        </div>
                                        <BR><BR><BR>
                                        <label class="col-md-4 control-label">Confirmar Clave :</label>
                                        <div class="col-md-5">
                                            {{form.password1}}
                                        </div>
                                        <div class="col-md-2"></div>
                                        <BR><BR><BR>
                                        <div class="col-xs-3 col-sm-9 m-b-30" align="right">
                                            <button class="btn btn-default waves-effect waves-light">Guardar</button>
                                        </div>
                                        <!-- Aqui el middleware de los mensajes aparece-->
                                        <div class="col-md-12">
                                        <ul class="messagelist">
                                            {% for message in messages %}
                                                <li class="success">{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h4 class="m-b-30 m-t-0">Listado de Usuarios</h4>
                            <div id="datatable-buttons_filter" class="dataTables_filter">
                            </div>
                            <div id="datatable-buttons_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                <table id="datatable-buttons" class="table table-striped table-bordered dataTable no-footer dtr-inline collapsed" role="grid" aria-describedby="datatable-buttons_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 30px; text-align:center;">N°</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 110px; text-align:center;">Usuario</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 130px; text-align:center;">Cargo</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 110px; text-align:center;">Correo</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 150px; text-align:center;">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for dato in usuarios %}
                                        <tr role="row" class="odd">
                                            <td class="sorting_1" tabindex="0" align="center">{{forloop.counter}}</td>
                                            <td>{{dato.nombre}}</td>
                                            <td>{{dato.cargo}}</td>
                                            <td align="center">{{dato.correo}}</td>
                                            <td align="center">
                                            <a href="{% url 'crear-perfil' dato.hash %}" class="waves-effect"><i class="ion-edit"></i><span> Editar Perfil</span></a>
                                            <span>|</span>
                                            <a href="{% url 'crear-perfil' dato.hash %}" class="waves-effect"><i class="ion-android-trash"></i> <span> Borrar Usuario </span></a>
                                            <!--<td><a href="{% url 'borrar-cargo' dato.pk %}">Borrar</a></td>-->
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
