<!-- Estas son las aplicaciones de Block -->
{% load staticfiles %} 
{% block titulo %} Lock Screen {% endblock %}

{% block contenido %}
<div class="accountbg"></div>
<div class="wrapper-page">
    <div class="panel panel-color panel-primary panel-pages">
        <div class="panel-body">
            <h3 class="text-center m-t-0 m-b-15"> <a href="index.html" class="logo logo-admin"><span>Sistema</span>Control</a></h3>
            <form class="form-horizontal m-t-20" action="index.html">
                <div class="user-thumb text-center m-b-30"> <img src="assets/images/users/avatar-1.jpg" class="img-responsive img-circle img-thumbnail" alt="thumbnail"></div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" required="" placeholder="Password">
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" type="submit">Iniciar Sesión</button>
                    </div>
                </div>
                <div class="form-group m-t-30 m-b-0">
                    <div class="col-sm-12 text-center"> <a href="pages-login.html" class="text-muted">¿No Eres Tú?</a></div>
                </div>
            </form>
        </div>
    </div>
</div>
