{% load static from staticfiles %}
<!--
Este es el html del Login, lo vamos a cargar en una vista ok?
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Escuela de Párvulos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="Admin Dashboard" name="description" />
    <meta content="ThemeDesign" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="{% static "assets/images/Insignia.ico" %}">
    <link href="{% static "assets/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/icons.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/style.css" %}" rel="stylesheet" type="text/css">    
</head>

<body>
    <div class="accountbg"></div>
    <div class="wrapper-page">
        <div class="panel panel-color panel-primary panel-pages">
        <div class="text-center"><img src="{% static "assets/images/Insignia.png" %}" height="100" width="100"></div>
            <div class="panel-body">
                <h3 class="text-center m-t-0 m-b-15"> <a href="home.html" class="logo logo-admin"><span>Sistema</span> Control</a></h3>
                <h4 class="text-muted text-center m-t-0"><b>Registrarse</b></h4>
                <form class="form-horizontal m-t-20" action="." method="POST">
                {% csrf_token %} <!-- Este token debe ir siempre al enviar un formulario por POST o GET -->
                    <div class="form-group">
                        <div class="col-xs-12">
                            {{form.username}} <!-- Este es el campo de usuario del formm.py -->
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            {{form.password}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="checkbox checkbox-primary">
                                <input id="checkbox-signup" type="checkbox">
                                <label for="checkbox-signup"> Recuerdame </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center m-t-40">
                        <div class="col-xs-12">
                            <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" type="submit">Iniciar Sesión</button>
                        </div>
                    </div>
                    <div class="form-group m-t-30 m-b-0">
                        <div class="col-sm-7"> <a href="pages-recoverpw.html" class="text-muted"><i class="fa fa-lock m-r-5"></i> ¿Olvidaste tu contraseña?</a></div>
                        <div class="col-sm-5 text-right"> <a href="pages-register.html" class="text-muted">Crear una Cuenta</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/js/bootstrap.min.js" %}"></script>
    <script src="{% static "assets/js/modernizr.min.js" %}"></script>
    <script src="{% static "assets/js/detect.js" %}"></script>
    <script src="{% static "assets/js/fastclick.js" %}"></script>
    <script src="{% static "assets/js/jquery.slimscroll.js" %}"></script>
    <script src="{% static "assets/js/jquery.blockUI.js" %}"></script>
    <script src="{% static "assets/js/waves.js" %}"></script>
    <script src="{% static "assets/js/wow.min.js" %}"></script>
    <script src="{% static "assets/js/jquery.nicescroll.js" %}"></script>
    <script src="{% static "assets/js/jquery.scrollTo.min.js" %}"></script>
    <script src="{% static "assets/js/app.js" %}"></script>
</body>

</html>
