{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!-- Ejemplo de Block -->
    <title>Sistema de Control - {% block titulo %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="Admin Dashboard" name="description" />
    <meta content="ThemeDesign" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="{% static 'assets/images/Insignia.ico' %}"> <!-- Insignia Icono -->
    <link rel="stylesheet" href="{% static 'assets/plugins/morris/morris.css' %}">
    <link href="{% static 'assets/css/mensajes.css' %}" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href="{% static 'assets/plugins/morris/morris.css' %}">
    <link href="{% static 'assets/plugins/datatables/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'assets/css/flexslider.css' %}" type="text/css" media="screen" />
    <link href="{% static 'assets/plugins/datatables/buttons.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/plugins/datatables/fixedHeader.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/plugins/datatables/responsive.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/plugins/datatables/dataTables.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/plugins/datatables/scroller.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/plugins/bootstrap-sweetalert/sweet-alert.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css">
</head>

<body class="fixed-left">
    <div id="wrapper">
        <div class="topbar">
            <div class="topbar-left">


                <div class="text-center"> <a href="{% url 'vista_login' %}" class="logo"><span>Sistema</span>Control</a> <a href="{% url 'vista_login' %}" class="logo-sm"><span><img src="{% static "assets/images/Insignia.jpg" %}" height="44PX" width="44PX">


            
                </span></a></div>
            </div>
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="">
                        <div class="pull-left">
                            <button type="button" class="button-menu-mobile open-left waves-effect waves-light"> <i class="ion-navicon"></i> </button> <span class="clearfix"></span></div>
                        <form class="navbar-form pull-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control search-bar" placeholder="Buscar...">
                            </div>
                            <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                        </form>
                        <ul class="nav navbar-nav navbar-right pull-right">
                            <li class="dropdown hidden-xs">
                                <a href="#" data-target="#" class="dropdown-toggle waves-effect waves-light notification-icon-box" data-toggle="dropdown" aria-expanded="true"> <i class="fa fa-bell"></i> <span class="badge badge-xs badge-danger"></span> </a>
                                <ul class="dropdown-menu dropdown-menu-lg">
                                    <li class="text-center notifi-title">Notification <span class="badge badge-xs badge-success">3</span></li>
                                    <li class="list-group">
                                        <a href="javascript:void(0);" class="list-group-item">
                                            <div class="media">
                                                <div class="media-heading">Your order is placed</div>
                                                <p class="m-0"> <small>Dummy text of the printing and typesetting industry.</small></p>
                                            </div>
                                        </a>
                                        <a href="javascript:void(0);" class="list-group-item">
                                            <div class="media">
                                                <div class="media-body clearfix">
                                                    <div class="media-heading">New Message received</div>
                                                    <p class="m-0"> <small>You have 87 unread messages</small></p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="javascript:void(0);" class="list-group-item">
                                            <div class="media">
                                                <div class="media-body clearfix">
                                                    <div class="media-heading">Your item is shipped.</div>
                                                    <p class="m-0"> <small>It is a long established fact that a reader will</small></p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="javascript:void(0);" class="list-group-item"> <small class="text-primary">See all notifications</small> </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="hidden-xs"> <a href="#" id="btn-fullscreen" class="waves-effect waves-light notification-icon-box"><i class="mdi mdi-fullscreen"></i></a></li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle profile waves-effect waves-light" data-toggle="dropdown" aria-expanded="true"> <img src="{% static 'assets/images/users/Sebastián Donoso.jpg' %}" alt="user-img" class="img-circle"> <span class="profile-username">{{user.nombre}}<br/> <small>{{user.cargo}}</small> </span> </a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0)"> Profile</a></li>
                                    <li><a href="javascript:void(0)"><span class="badge badge-success pull-right">5</span> Settings </a></li>
                                    <li><a href="{% url 'vista_bloquear' %}"> Lock screen</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{% url 'vista_salir' %}"> Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% include "base/menu.html" %}
        <div class="content-page">
            {% block contenido %}

            {% endblock %}

            <footer class="footer"> © 2017 Sebastián Donoso - All Rights Reserved. </footer>
        </div>
    </div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/modernizr.min.js' %}"></script>
    <script src="{% static 'assets/js/detect.js' %}"></script>
    <script src="{% static 'assets/js/fastclick.js' %}"></script>
    <script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'assets/js/jquery.blockUI.js' %}"></script>
    <script src="{% static 'assets/js/waves.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.nicescroll.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrollTo.min.js' %}"></script>
    <script defer src="{% static 'assets/js/jquery.flexslider-min.js' %}"></script>
    <script src="{% static 'assets/plugins/morris/morris.min.js' %}"></script>
    <script src="{% static 'assets/plugins/raphael/raphael-min.js' %}"></script>
    <script src="{% static 'assets/plugins/morris/morris.min.js' %}"></script>
    <script src="{% static 'assets/pages/dashborad.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables/jszip.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables/pdfmake.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables/vfs_fonts.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables/buttons.html5.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables/buttons.print.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables/responsive.bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'assets/pages/datatables.init.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap-sweetalert/sweet-alert.min.js' %}"></script>
    <script src="{% static 'assets/pages/sweet-alert.init.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
    <!-- Agrego un bloque para Jquery -->
    {% block jquery %}
    {% endblock %}
</body>

</html>
