{% load static from staticfiles %}
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div class="user-details">
            <div class="text-center"><img src="{% static 'assets/images/users/Sebastián Donoso.jpg' %}" alt="" class="img-circle"></div>
            <div class="user-info">
                <div class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{user.nombre}}</a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)"> Profile</a></li>
                        <li><a href="javascript:void(0)"> Settings</a></li>
                        <li><a href="{% url 'vista_bloquear' %}"> Lock screen</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'vista_salir' %}"> Logout</a></li>
                    </ul>
                </div>
                <p class="text-muted m-0"><i class="fa fa-dot-circle-o text-success"></i> Online</p>
            </div>
        </div>
        <div id="sidebar-menu">
            <ul>
                <li> 
                    <a href="{% url 'vista_login' %}" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>Home<span class="badge badge-primary pull-right"></span></span>
                    </a>
                </li>
                <li class="has_sub"> <a href="javascript:void(0);" class="waves-effect"><i class="ion-android-contact"></i> <span> Admin </span> <span class="pull-right"><i class="mdi mdi-plus"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'crear-cargo' %}">Crear Cargos</a></li>
                        <li><a href="{% url 'crear-cat' %}">Crear Categoría</a></li>
                        <li><a href="{% url 'crear-prod' %}">Crear Productos</a></li>
                        <li><a href="{% url 'crear-user' %}">Crear Usuarios</a></li>
                    </ul>
                </li>
                <li class="has_sub"> <a href="javascript:void(0);" class="waves-effect"><i class="ion-android-settings"></i> <span> Gestiones </span> <span class="pull-right"><i class="mdi mdi-plus"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'crear-abast' %}">Abastecimiento</a></li>
                        <li><a href="#">Pedidos</a></li></ul>
                </li>
                <li class="has_sub"> <a href="javascript:void(0);" class="waves-effect"><i class="ion-android-note"></i><span> Reportes </span><span class="pull-right"><i class="mdi mdi-plus"></i></span></a>
                    <ul class="list-unstyled">                        
                        <li><a href="#">Generar Reportes</a></li>
                    </ul>
                </li>
                <li> <a href="{% url 'vista-dir' %}" class="waves-effect"><i class="ion-android-information
                "></i><span> Directorio <span class="badge badge-primary pull-right"></span></span></a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
